[Unit]
Description=SonyDevWorld bot timer for user %i

[Timer]
#OnCalendar=daily
#Persistent=true
OnBootSec=1min
OnUnitActiveSec=20min

[Install]
WantedBy=timers.target
