[Unit]
Description=SonyDevWorld bot timer for user %i

[Timer]
# Every 10 min
OnCalendar=*:0/10
# Needed because default AccuracySec is 1min
AccuracySec=1

[Install]
WantedBy=timers.target
